@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    /* max-resolution: 0, 0; */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;
}
img {
    width: 100%;
    /* height: auto;
    max-height: 100vh; 
    max-height: 100vh; not ib DB */
    
}

p {
    line-height: 1.5;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 56px;
    color: #242424;
    margin: 24px auto;
    /* margin: 0px 50px 0px 50px; */
    text-align: center;
}
h2 {
    font-size: 48px;
    margin: 12px;
    text-align: center;
}
Button {
    cursor: pointer;
    
}
button:active {
    transform: translateY(1px);
}
.btn {
    background-color: #28aeec;
    color: white;
    padding: 12px 24px ;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    cursor:not-allowed;
}

.purple {
    color:#7342d6;
}
.logo {
    width: 200px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
    cursor: not-allowed;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* 

LANDING

*/

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px); 
    /* max-height:100vh; NOT IN DB*/
    /* 100vh - the height of the nav bar */
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

.header__description {
     display: flex;
     flex-direction: column;
     align-items: center;
     /* margin: 50px 10px 0 10px; */
}

.header__img--wrapper {
    /* width: 800px;
    height: 800px; NOT IN DB*/
    padding: 20px;
    z-index: 50; /* added for larger screens*/
}

.container {
    padding: 56px 0;
}

.row {
    /* display: flex;
    flex-direction: column; NOT IN DB I added this for smaller screens*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

HIGHLIGHTS

*/

 #highlights {
  position: relative;
  max-width: 100vw;
} 

#highlights:after,
#highlights:before {
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    /* top: 20px; */
    left: 0;
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: 1;
}

 #highlights:before {
    Transform: translateY(-100%);
    top: 1px;
} 

#highlights:after {
    bottom: 3vw;
    Transform: translateY(100%) rotate(180deg);
} 

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.highlight__para {
    text-align: center;
    max-width: 280px;
}
 
.highlight__img {
    border: 2px solid #7342d65d;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

/* 

FEATURED/Latest Books

*/

#featured {
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}
/* #featured__books {
    padding: 12vw;
    height: 50vh;
    background-color: rgba(115, 66, 214, 0.1); 
} 
#latest__books {
    margin-top: 4vh; *******NOT IN DB********
    
} 
#featured__books,
#latest__books,
#latest__books1 { */
    
.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    /* display: flex;
    flex-direction: column;     *nNOT IN DB******
    align-items: center; */
    width: 25%;
    padding: 24px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

.book__img {
    width: 100%;
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;  /* This makes it obvious that the coding was built so that the book 
                        is seen "not to be clicked on" can use "no-drop" as well*/
} 

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;   /* This removes any gap between the image and the container it is in */
}

.book:hover .book__img {
    transform: scale(1.03);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* 

EXPLORE

*/

#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

/* 

FOOTER

*/

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* 

SMALL PHONES, TABLETS, LARGE SMARTPHONES 

*/

@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }
}


/* 

SMALL PHONES, LARGE SMARTPHONES 

*/

@media (max-width: 550px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}